



/* navbar */

#top_nav {
    background-color: #daac00;
    padding: 0 8%;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255);
    font-size: 20px;
    padding-left: 25px;
}

#searchbox::placeholder {
    color: white;
}

#searchbox {
    background-color: #fcc302;
    color: white;
    border: none;
    border-radius: 0px;
    position: relative;
    left: 25px;
    box-shadow: 5px 10px 11px 0px #00000021;
}

#searchbtn {
    position: relative;
    z-index: 99;
    background-color: #00bec9;
    color: white;
    border: 0px;
    border-radius: 0px;
}

@media only screen and (max-width: 768px) {
    #searchform {
        margin-bottom: 30px;
        margin-top: 20px;
        position: relative;
        left: -20px;
    }
}

@media only screen and (max-width: 500px) {
    #top_nav {
        padding: 0;
    }
}

/* banner */

#banner {
    background-color: #fcc302;
    padding-bottom: 20px;
}

#bannertext h1 {
    color: white;
    font-size: 71px;
    margin-top: 100px;
    font-weight: 400px;
}

#bannertext p {
    color: white;
    font-size: 20px;
    margin-top: 29px;
    margin-bottom: 20px;
    font-weight: 400px;
}

#banner-btn-1 {
    background-color: #00bec9;
    color: white;
    margin-right: 10px;
    border: 2px solid #00bec9;
}

#banner-btn-2 {
    color: white;
    border: 2px solid white;
}

@media only screen and (max-width: 1300px) {
    #bannertext h1 {
        font-size: 71px;
    }

    #banner p {
        font-size: 16px;
    }

    #banner {
        padding-bottom: 70px;
    }
}

@media only screen and (max-width: 375px) {
    #bannertext h1 {
        font-size: 34px;
    }
}

@media only screen and (max-width: 768px) {
    #bannerimg img {
        padding-top: 70px;
    }

    
    #banner-btn-1 {
        margin-bottom: 4px;
        vertical-align: top;
    }
}

@media only screen and (max-width: 820px) {
    #bannerimg img {
        padding-top: 70px;
    }

    #bannertext h1 {
        font-size: 41px;
    }
}

/* for ipad pro 11 */

@media only screen and (max-width: 834px) {
    #bannerimg img {
        padding-top: 70px;
    }
}

/* for ipad 12.9-inch */

@media only screen and (max-width: 1024px) {
    #bannerimg img {
        padding-top: 70px;
    }
}

/* service */

#service-text {
    padding-top: 10%;
    padding-bottom: 5%;
}

#servicebtn {
    color: white;
    background-color: #fcc302;
    border: 2px solid #fcc302;
}

#service-img {
    padding: 5%;
}

/* ipad air */

@media only screen and (max-width: 768px) {
    #service-img {
        padding: 10%;
    }
}

#counter-section {
    background-color: #fcc302;
    /* background-image: url("../images/dogman.png"); */
    padding-top: 50px;
    padding-bottom: 70px;
    background-position: center;
    background-size: cover;
}

.counter-icon {
    font-size: 70px;
}

@media only screen and (max-width: 500px) {
    .counter-icon {
        font-size: 50px;
    }
}

/* blog */

#blog {
    padding-bottom: 70px;
    padding-top: 70px;
}

.blog-title {
    font-size: 50px;
    font-weight: bolder;
}

.blog-p {
    font-size: 20px;
    margin-bottom: 70px;
}

.artical-detials {
    padding: 15px;
    border: 1px solid rgb(185,185,185);
    border-top: 0;
}

.artical-date {
    color: #00bec9;;
}

.artical-link {
    color: #00bec9;
}

/* footer */

#footer {
    padding-top: 80px;
    padding-bottom: 80px;
}

#footer-links a {
    color: white;
    text-decoration: none;
}

#footer-search-button {
    background-color: #00bec9;
    color: white;
    padding: 15px 40px;
    border-radius: 0;
    border: 0px;
}

#footer-search-box {
    background-color: #fcc302;
    color: white;
    padding: 15px;
    border: 0;
    border-radius: 0;
    position: relative;
    left: 10px;
    width: 100%;
    max-width: 250px;
}

#footer-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-icon {
    font-size: 25px;
    padding-left: 5px;
}

@media only screen and (max-width: 1150px) {
    #footer-search-box {
        max-width: 200px;
    }
}

@media only screen and (max-width: 768px) {
    #footer-search-box {
        max-width: 120px;
    }
}

@media only screen and (max-width: 500px) {
    #footer-search-box {
        max-width: 200px;
    }

    #footer {
        padding-top: 10px;
    }

    #footer h4 {
        margin-top: 50px;
    }
}